<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">




<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.
min.css"/>

    <link rel="stylesheet" type="text/css" href="css/mystyle.css"
          th:href="@{css/mystyle.css}" media="screen"/>

    <meta charset="UTF-8" />
    <title>Edit Customer Data</title>

</head>
<body style="background-color:powderblue;">

<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WHZ-Pizza_Forever</a>
            </div>
            <ul  class="nav navbar-nav">
                <li><a>
                    <form th:action="@{'/users/' + ${currentUser.id}}" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-warning" value="Account Details"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>
                    <form th:if="${currentUser == null}" action="/Signup" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Signup"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
                <li><a>
                    <form th:if="${currentUser != null}" action="/logout" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="logout"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
            </ul>

        </div>
    </nav>

</div>

<div class="container">


    <div><ul class="nav navbar-nav navbar-right">


        <li><a>
            <h3>
                     <span th:if="${currentUser != null}"
                           th:text="' loged in as ' + ':' + ${currentUser.loginName}">FROMTO_PLACEHOLDER</span>
            </h3>
        </a></li>

    </ul></div>


    <div class="page-header">
        <h1> <span> WHZ-Pizza_Forever </span> </h1>

    </div>



    <div class="page-header"><h1>Edit User Data</h1></div>

    <form th:action="@{/finishEditUserData}"
          method="post">
        <div class="form-group">
            <table class="table table-hover table-bordered table-fixed">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td class="col-md-4">FirstName</td>
                    <td class="col-md-4" >
                        <input class="form-control" type="text" name="firstName"
                               maxlength="255" th:value="${currentUser.firstName}"/>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">LastName</td>
                    <td class="col-md-4" >
                        <input class="form-control" type="text" name="lastName"
                               maxlength="255" th:value="${currentUser.lastName}"/>
                    </td>

                </tr>
                <tr>
                    <td class="col-md-4">PasswordHash</td>
                    <td class="col-md-4">
                        <input class="form-control" type="text" name="passwordHash"
                               maxlength="255" th:value="${currentUser.passwordHash}"/>
                    </td>

                </tr>
                </tbody>
            </table>
            <br/>
            <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
            <input type="submit" class="btn btn-primary btn-sm" value="Save User"/>
        </div>
    </form>
</div>

</body>
</html>