<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>PizzaProjekt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css" th:href="@{../css/mystyle.css}" media="screen"/>
</head>

<body>

<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WHZ-Pizza_Forever</a>
            </div>
            <ul  class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>
                    <form th:if="${currentUser == null}" action="/Signup" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Signup"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
                <li><a>
                    <form th:if="${currentUser != null}" action="/logout" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="logout"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
            </ul>

        </div>
    </nav>
</div>

<div class="container">

    <div class="row" style="margin-top:20px">
        <div>
            <h1 class="text-center">
                <span>Register</span>
            </h1>
            <br />
        </div>

    </div>

    <form class="bs-example bs-example-form error" th:action="@{/new/users/create}" th:object="${myform}" method="post" role="form">
        <div class="input-group">
            <input type="text" name="firstName" class="form-control" placeholder="firstName" required="required"
                   autofocus="autofocus"
            />
        </div>

        <div class="input-group">
            <input type="text" name="lastName" class="form-control" placeholder="lastName" required="required"
                   autofocus="autofocus"
            />
        </div>

        <div class="input-group">
            <input type="text" name="loginName" class="form-control" placeholder="loginName"
                   required="required"
            />
        </div>

        <div class="input-group">
            <input type="password" name="password" class="form-control" placeholder="passwort" required="required"/>
        </div>
        <div class="input-group">
            <input type="password" name="passwordRepeated" class="form-control"
                   placeholder="passwort wiederholen"
                   required="required"/>
        </div>
        <br/>
        <div class="form-group error">
            <input type="submit" class="btn btn-primary btn-sm" th:value="RegisterNow"/>
            <a ><span class="error text-danger" th:if="${error}" th:text="${error}">The loginname or password you have entered is invalid, try again.</span></a>
        </div>
    </form>

</div>

</body>
</html>