<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>WHZ-Pizza_Forever</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.
min.css"/>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css"
          th:href="@{css/mystyle.css}" media="screen"/>
</head>
<body style="background-color:powderblue;">
<div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WHZ-Pizza_Forever</a>
            </div>
            <ul  class="nav navbar-nav">

                <li th:if="${currentUser != null}">
                    <a><form th:action="@{/allpizza}" method="get">
                        <div class="form-group">
                            <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
                            <input type="submit" class="btn btn-primary btn-warning"
                                   value="Offers"/>
                        </div>
                    </form>
                    </a></li>

                <li th:if="${currentUser != null}">
                    <a><form th:action="@{/showCart}" method="get">
                        <div class="form-group">
                            <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
                            <input type="submit" class="btn btn-primary btn-warning"
                                   value="ShoppingCart"/>
                        </div>
                    </form>
                    </a></li>
                <li><a>
                    <form th:action="@{'/users/' + ${currentUser.id}}" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-warning" value="Account Details"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a>
                </li>

                <li th:if="${currentUser != null}">
                    <a><form th:action="@{/order/orderHistory}" method="get">
                        <div class="form-group">
                            <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
                            <input type="submit" class="btn btn-primary btn-warning"
                                   value="Order History"/>
                        </div>
                    </form>
                    </a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>
                    <form th:if="${currentUser == null}" action="/Signup" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Signup"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
                <li><a>
                    <form th:if="${currentUser != null}" action="/logout" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="logout"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
            </ul>

        </div>
    </nav>

</div>

    <div class="container">

        <div><ul class="nav navbar-nav navbar-right">
            <li><a>
                <h3>
                     <span th:if="${currentUser != null}"
                      th:text="' loged in as ' +  ${currentUser.loginName}">FROMTO_PLACEHOLDER</span>
                </h3>
            </a></li>

        </ul></div>


        <div class="page-header">
            <h1> <span> WHZ-Pizza_Forever </span> </h1>

        </div>

        <h3> <span> All Pizza Offers </span></h3>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>

            </tr>
            <tr th:each="pizza : ${listOfPizzas}">
                <td th:text="${pizza.name}"></td>
                <td th:text="${pizza.description}"></td>
                <td th:text="${pizza.price +'€'}"></td>
                <td>
                    <form th:action="@{/addtocart}" method="post">
                        <input type="hidden" name="id" th:value="${pizza.id}"/>
                        <input type="text" name="quantity"
                               maxlength="255" />
                        <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
                        <button>Add to cart</button>
                    </form>

                </td>

            </tr>

        </table>

        <p>
            <div>
        <label th:if="${error}"> Quantity can only be a positive natural number </label>
    </div>

        </p>

        <label th:if="${added != null}"
              th:text="${added}">FROMTO_PLACEHOLDER</label>
        <p>

        <div border="3">
            <form th:action="@{/showCart}" method="get">
                <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
                <div>
                    <input type="submit" class="btn btn-primary btn-sm" value="Go to ShoppingCart"/>
                </div>
            </form>

        </div>

        </p>

    </div>


</body>
</html>