<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>PizzaProjekt</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.
min.css"/>
    <link rel="stylesheet" type="text/css" href="css/mystyle.css"
          th:href="@{css/mystyle.css}" media="screen"/>
</head>
<body style="background-color:powderblue;">

    <div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WHZ-Pizza_Forever</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ><a href="#">Home</a></li>
                    <li ><a href="#">Offers</a></li>
                    <li class="active"><a href="#">My Account</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>


            </div>
        </nav>

    </div>

        <div class="container">

            <div><ul class="nav navbar-nav navbar-right">


                <li><a>
                    <h3>
                     <span th:if="${currentUser != null}"
                           th:text="' loged in as ' + ':' + ${currentUser.loginName}">FROMTO_PLACEHOLDER</span>
                    </h3>
                </a></li>

            </ul></div>


            <div class="page-header">
                <h1> <span> WHZ-Pizza_Forever </span> </h1>

            </div>


        </div>

 <div  class="container"  >

     <table class="table table-hover table-bordered table-fixed">
         <thead>
         </thead>
         <tbody>
         <tr  th:if="${currentUser != null}"></tr>
         <tr>
             <td class="col-md-4">FirstName</td>
             <td class="col-md-4" th:text="${currentUser.firstName}">nix</td>
         </tr>
         <tr>
             <td class="col-md-4">LastName</td>
             <td class="col-md-4" th:text="${currentUser.lastName}">nix</td>
         </tr>
         <tr>
             <td class="col-md-4">LoginName</td>
             <td class="col-md-4" th:text="${currentUser.loginName}">nix</td>
         </tr>
         <tr>
             <td class="col-md-4">PasswordHash</td>
             <td class="col-md-4" th:text="${currentUser.passwordHash}">nix</td>
         </tr>
         </tbody>
     </table>

     <form th:action="@{/start_edit_customer_data}" method="post">
         <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
         <button>Edit Customer</button>
     </form>

 </div>


    <hr />
    <div class="container">

        <h2>Address</h2>

        <table class="table table-hover table-bordered table-fixed">
            <thead>
            <tr>
                <th class="col-md-3">Addresse </th>
                <th class="col-md-3"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address : ${currentUserAddress}">
                <td th:text="${address.street}+', '+${address.houseNumber}+', '+${address.zipcode}+', '+${address.town}">nix</td>
                <td><button>Edit Address</button></td>
            </tr>
            </tbody></table> <td><button>Add New Address</button></td>
    </div>
</body>
</html>