<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>PizzaProjekt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/mystyle.css" th:href="@{../css/mystyle.css}" media="screen"/>
</head>

<body style="background-color:powderblue;">


<div>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WHZ-Pizza_Forever</a>
            </div>
            <ul  class="nav navbar-nav">

                <li th:if="${#strings.toString(currentUser.user.role) == 'CUSTOMER'}">
                    <a><form th:action="@{/offers}" method="post">
                        <div class="form-group">
                            <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
                            <input type="submit" class="btn btn-primary btn-warning"
                                   value="Offers"/>
                        </div>
                    </form>
                    </a></li>

                <li th:if="${#strings.toString(currentUser.user.role) == 'CUSTOMER'}">
                    <a><form th:action="@{/showCart}" method="get">
                        <div class="form-group">
                            <input type="hidden" name="loginName" th:value="${currentUser.loginName}"/>
                            <input type="submit" class="btn btn-primary btn-warning"
                                   value="ShoppingCart"/>
                        </div>
                    </form>
                    </a></li>

                <li><a>
                    <form th:action="@{'/users/' + ${currentUser.id}}" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-warning" value="Account Details"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a>
                </li>

                <li th:if="${#strings.toString(currentUser.user.role) == 'ADMIN'}">
                    <a><form th:action="@{/users/managed}" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-warning"
                                   value="Manage Users"/>
                        </div>
                    </form>
                    </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>
                    <form th:if="${currentUser == null}" action="/Signup" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Signup"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
                <li><a>
                    <form th:if="${currentUser != null}" action="/logout" method="post">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="logout"/>
                            <!--onclick="myStopFunction()"-->
                        </div>
                    </form>
                </a></li>
            </ul>

        </div>
    </nav>

</div>



<div class="container">
    <div class="page-header">
        <h1>WHZ-Pizza_Forever</h1>
    </div>
    <table class="table table-hover table-bordered table-fixed">
        <thead>
        <tr>
            <th class="col-md-4"><span th:text="UserDetails"></span></th>
            <th class="col-md-4"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>loginName</td>
            <td th:text="${user.loginName}">Loginname</td>
        </tr>
        <tr>
            <td>firstName</td>
            <td th:text="${user.firstName}"> FirstName</td>
        </tr>
        </tbody>
    </table>



<form th:action="@{/first}" method="post">
    <!--<div class="form-group">-->
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-danger" value="Done"/>
        </div>
    <!--</div>-->
</form>

</div>

<div class="container">
            <div>&copy; PizzaApp CoKG, Copyright (c) : 2017
        </div>
</div>
</body>
</html>